<% if @source %>
  <h1> List of Category Pages for <%= @source.name %> </h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Url</th>
    </tr>

    <% @category_pages.each do |cat_page| %>
      <tr>
        <td><%= cat_page.name %></td>
        <td><%= cat_page.url %></td>
      </tr>
    <% end %>

  </table>
<%= link_to 'Add a category page', new_admin_category_page_path(source_id: @source.id) %>
<% end %>
