<h1> Create a new category page for the source </h1>

<%= form_for @category_page, url: admin_category_pages_path, :html => {:class => "form-horizontal"} do |form| %>
  <%= render partial: 'form', locals: { form: form, brands: @brands, source: @source } %>
  <%= form.submit 'Add Category Page', class: 'btn btn-default' %>
<% end %>
