<form class="form-horizontal" ng-submit="submitForm()" ng-controller="DevicesSelectCtrl" >

  <ul class="nav nav-tabs">
    <li ng-repeat="step in steps" ng-class="{active: $index==getCurrentStepIndex()}">
      <a href="javascript:void(0)" ng-click="goToStep($index)">{{step}}</a>
    </li>
  </ul>
  <div ng-switch on="selection">

    <!-- First Step -->
    <div ng-switch-when="How much do you talk?">
      <div class="row">
        <div class="span4">
          <div class="control-group">
            <span> Would you say you spend long hours talking on the phone? </span>
            <div class="controls">
              <label class="radio">
                <input type="radio" name="device_hours" id="device_hours_long" value="Yes" ng-model='selections.longHour'>
                Yes 
              </label>
              <label class="radio">
                <input type="radio" name="device_hours" id="device_hours_short" value="No", ng-model='selections.longHour'>
                No 
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Step -->
    <div ng-switch-when="Operating System">
      <div class="row">
        <div class="span4">
          <div class="control-group">
            <span> Any preferences in terms of Operating System?</span>
            <div class="controls">
              <label ng-repeat="operatingSystem in operatingSystems" class="checkbox">
                <input type="checkbox" name="operating_systems[]" value="{{operatingSystem.id}}" ng-checked="selections.operatingSystems.indexOf(operatingSystem.id) > -1" ng-click="toogleSelectionOS(operatingSystem.id)"> {{operatingSystem.name}} 
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Third Step -->
    <div ng-switch-when="Keyboard">
      <div class="row">
        <div class="span4">
          <div class="control-group">
            <span> Which kind of keyboard do you prefer?</span>
            <div class="controls">
              <label class="radio">
                <input type="radio" value="touch" id="selection_keyboard_touch" ng-model="selections.keyboard">
                Touch 
              </label>
              <label class="radio">
                <input type="radio" value="physical" id="selection_keyboard_physical" ng-model="selections.keyboard">
                Physical 
              </label>
              <label class="radio">
                <input type="radio" name="any" id="selection_keyboard_any" ng-model="selections.keyboard">
                Any 
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <ul class="pager pull-left">
    <li class="" ng-class="{disabled: !hasPreviousStep()}">
      <a href="javascript:void(0);" ng-click="decrementStep()">&larr; Previous Step</a>
    </li>
    <li class="" ng-class="{disabled: !hasNextStep()}">
      <a href="javascript:void(0);" ng-click="incrementStep()">Next Step &rarr;</a>
    </li>
  </ul>
  <div class="pull-right" ng-show="!hasNextStep()"><button style="margin:20px 0;" class="btn btn-success">Show me the devices!</button></div>
  <div class="clearfix"></div>
</form>
